@page
@model Aula03.pages.MyBooks.Index
@{
}


<body>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.BooksList[0].Name)</td>
                    <td>@Html.DisplayNameFor(model => model.BooksList[0].Desc)</td>
                    <td>@Html.DisplayNameFor(model => model.BooksList[0].PublicationYear)</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventModel in Model.BooksList)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => eventModel.Name)</td>
                        <td>@Html.DisplayFor(model => eventModel.Author)</td>
                        <td>@Html.DisplayFor(model => eventModel.PublicationYear)</td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@eventModel.BookID">Visualizar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>