@page "/"
@model Aula03.pages.Login.Index
@{
}
<head>
	<title>Centered Div with Two Forms</title>
	<style>

		body {
		  align-items: center;
		}

		.centered-div {
			width: 50%;
			height: 350px;
			margin: 120px auto auto auto;
			border: 2px solid rgb(125, 125, 125);
			display: flex;
			flex-direction: row;
			background-color: rgb(202, 212, 223);
		}

		.left-form, .right-form {
			width: 50%;
			height: 350px;
			display: flex;
			flex-direction: column;
			padding-left: 20px;
			padding-top: 10px;
			justify-content: space-between;
		}



		.left-form input[type=text], .left-form input[type=password], .right-form input[type=text], .right-form input[type=password] {
			margin: 5px;
			padding: 0px;
			width: 50%;
			border-radius: 5px;
			border: 1px solid #ccc;
			justify-content: flex-start !important;
		}
		
		
		.left-form input[type=submit], .right-form input[type=submit] {
			margin: auto auto 5px auto;
			padding: 1px;
			border-radius: 5px;
			border: 1px solid #ccc;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			display: block;
			justify-content: flex-end !important;
		}
		
		.bar {
			height: 100%;
			width: 1px;
			background-color: rgb(125, 125, 125);
			top: 0;
			bottom: 0;
			left: 50%;
			display: block;
			transform: translateX(-50%);
		}

		.spaco
		{
			display: flex;
			flex-direction: column;
			justify-self: flex-end;
		}
		

	</style>
</head>


<body>
	<div class="centered-div">
		<div class="left-form">
			<form method="post">
				<input type="hidden" asp-for="user.ID" />
				<div class="form-group">
					<label asp-for="user.Name">Nome: </label>
					<input asp-for="user.Name" class="form-control" />
					<span asp-validation-for="user.Name" class="text-dange"></span>
				</div>
				<div class="form-group">
					<label asp-for="user.Password">Senha: </label>
					<input asp-for="user.Password" class="form-control" type="password"></textarea>
				</div>
				<div class="form-group">
					<label asp-for="user.Gender">Gênero: </label>
				
					<div class="form-check form-check-inline">			
						<input asp-for="user.Gender" class="form-control" type="radio" id="male" name="user.Gender" value="M"/>
						<label for="male">M</label>
					</div>
					<div class="form-check form-check-inline">			
						<input asp-for="user.Gender" class="form-control" type="radio" id="female" name="user.Gender" value="F"/>
						<label for="female">F</label>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="user.BirthDate">Data de Nascimento: </label>
					<input asp-for="user.BirthDate" type="date" class="form-control" />
				</div>
				<input type="submit" name="submitType" class="btn btn-primary" value="Cadastrar" />
				
				<div asp-validation-summary="ModelOnly" class="text-dange"></div>
			</form>
		</div>
		<div class="bar"></div>

		<div class="right-form">
			<form method="post">
				<div class="spaco">
					<div class="form-group">
						<label asp-for="LoginName">Nome: </label>
						<input asp-for="LoginName" id="LoginName" class="form-control" />
						<span asp-validation-for="LoginName" class="text-dange"></span>
					</div>
					<div class="form-group">
						<label asp-for="LoginPass">Senha: </label>
						<input asp-for="LoginPass" id="LoginPass" class="form-control" type="password"></textarea>
					</div>
				</div>


				<br />
				<br />
				<br />
				<br />
				<br />
				<input type="submit" name="submitType" class="btn btn-primary" value="Login" />
				<br />
				<div asp-validation-summary="ModelOnly" class="text-dange"></div>
			</form>
		</div>
	</div>
</body>

@Model.user.Name
@Model.user.Password
@Model.user.Gender
@Model.LoginName
@Model.LoginPass

<div class="out_div">
    <table>
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.UserList[0].ID)</td>
                <td>@Html.DisplayNameFor(model => model.UserList[0].Name)</td>
                <td>@Html.DisplayNameFor(model => model.UserList[0].Password)</td>
                <td>@Html.DisplayNameFor(model => model.UserList[0].Gender)</td>
                <td>@Html.DisplayNameFor(model => model.UserList[0].BirthDate)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var eventModel in Model.UserList)
            {
                <tr>
                    <td>@Html.DisplayFor(model => eventModel.ID)</td>
                    <td>@Html.DisplayFor(model => eventModel.Name)</td>
                    <td>@Html.DisplayFor(model => eventModel.Password)</td>
                    <td>@Html.DisplayFor(model => eventModel.Gender)</td>
                    <td>@Html.DisplayFor(model => eventModel.BirthDate)</td>
                </tr>
            }
        </tbody>
    </table>
</div>