@page
@model Aula03.pages.Mesas.Reserva
@{
}

<form method="post" asp-page-handler="Cancelar">
    <input type="submit" value="Cancelar" class="btn btn-danger" />    
</form>
<form method="post" asp-page-handler="Salvar">
    <input type="submit" value="Salvar" class="btn btn-primary" />    
</form>
@*<div asp-validation-summary="ModelOnly" class="text-dange"></div>*@
<hr />

<body>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Mesa</td>
                    <td>Garçom</td>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.Atendimento!.Mesa!.MesaID</td>
                        <td>@Model.Atendimento.Garcom!.Name</td>
                    </tr>
            </tbody>
        </table>
    </div>


    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Preço</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventModel in Model.Atendimento.Produtos)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => eventModel.Name)</td>
                        <td>R$@Html.DisplayFor(model => eventModel.Price)</td>
                        <td>
                            <form method="post" asp-page-handler="Adicionar">
                                <input type="hidden" name="id" value="@eventModel.ProdutoID" />
                                <input type="submit" class="btn btn-primary" value="Adicionar" />
                                
                            </form>
                        <td/>
                        <td>
                            <form method="post" asp-page-handler="Deletar">
                                <input type="hidden" name="id" value="@eventModel.ProdutoID" />
                                <input type="submit" value="Deletar" class="btn btn-danger" />    
                            </form>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <p>Total: @string.Format("R${0:N2}", Model.Total)</p>

    <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Nome Garçom:</td>
                </tr>
            </thead>
            <tbody>
                @{
                    var First = true;
                }
                @foreach (var eventModel in Model.GarcomList)
                {
                    if (First)
                    {
                        First = false;
                        continue;
                    }
                    <tr>
                    <td>@Html.DisplayFor(model => eventModel.Name)</td>
                    <td>
                        <form method="post" asp-page-handler="Designar">
                            <input type="hidden" name="id" value="@eventModel.GarcomID" />
                            <input type="submit" class="btn btn-primary" value="Designar" />
                       </form>
                    <td/>
                    </tr>
                }
            </tbody>
        </table>


    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Preço</td>
                    <td>Categoria</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventModel in Model.ProdutosList!)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => eventModel.Name)</td>
                        <td>@Html.DisplayFor(model => eventModel.Price)</td>
                        <td>@Html.DisplayFor(model => eventModel.Categoria!.Name)</td>
                        <td>
                            <form method="post" asp-page-handler="Adicionar">
                                <input type="hidden" name="id" value="@eventModel.ProdutoID" />
                                <input type="submit" class="btn btn-primary" value="Adicionar" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>