@page
@model Aula03.pages.Mesas.Reserva
@{
}

<hr />

<body>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Atendimento</td>
                    <td>Mesa</td>
                    <td>Garçom</td>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.Atendimento.AtendimentoID</td>
                        <td>@Model.Atendimento.Mesa.MesaID</td>
                        <td>@Model.Atendimento.Garcom!.Name</td>
                    </tr>
            </tbody>
        </table>
    </div>
</body>

<hr />

<body>
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ProdutosList[0].ProdutoID)</td>
                    <td>@Html.DisplayNameFor(model => model.ProdutosList[0].Name)</td>
                    <td>@Html.DisplayNameFor(model => model.ProdutosList[0].Price)</td>
                    <td>@Html.DisplayNameFor(model => model.ProdutosList[0].Categoria!.Name)</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventModel in Model.ProdutosList)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => eventModel.ProdutoID)</td>
                        <td>@Html.DisplayFor(model => eventModel.Name)</td>
                        <td>@Html.DisplayFor(model => eventModel.Price)</td>
                        <td>@Html.DisplayFor(model => eventModel.Categoria.Name)</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@eventModel.ProdutoID">Alterar</a>
                            <form method="post" asp-page-handler="Adicionar">
                                <input type="hidden" name="id" value="@eventModel.ProdutoID" />
                                <input type="submit" class="btn btn-primary" value="Adicionar" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>