@page
@model Aula03.pages.Dashboard.Index
@{
}


<body>
    <div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Sobrenome</td>
                    <td>Total de Vendas</td>
                </tr>
            </thead>
            <tbody>
                @{
                    var First = true;
                }
                @foreach (var garcomModel in Model.GarconsList)
                {
                    if (First)
                    {
                        First = false;
                        continue;
                    }
                    <tr>
                        <td>@Html.DisplayFor(model => garcomModel.Name)</td>
                        <td>@Html.DisplayFor(model => garcomModel.SecondName)</td>
                        <td>@String.Format("R$ {0:N2}", garcomModel.Estatistica)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td>Mesa</td>
                    <td>Total de Vendas</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var garcomModel in Model.MesasList)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => garcomModel.MesaID)</td>
                        <td>@String.Format("R$ {0:N2}", garcomModel.Estatistica)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td>Produto</td>
                    <td>Total de Vendas</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var garcomModel in Model.ProdutosList)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => garcomModel.Name)</td>
                        <td>@String.Format("R$ {0:N2}", garcomModel.Estatistica)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td>Categoria</td>
                    <td>Total de Vendas</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var garcomModel in Model.CategoriasList)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => garcomModel.Name)</td>
                        <td>@String.Format("R$ {0:N2}", garcomModel.Estatistica)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>