@page
@model Aula03.pages.Services.Create
@{
}


<body>

    <h1 class="text-center">Novo Atendimento</h1>

    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Mesa</td>
                    <td>Garçom</td>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Service!.Table!.Name)</td>
                        <td>@Html.DisplayFor(model => model.Service.Waiter!.Name)</td>
                    </tr>
            </tbody>
        </table>
    </div>


    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Preço</td>
                    <td>Quantidade</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventModel in Model.Service.ServiceProducts)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => eventModel.Product.Name)</td>
                        <td>@Html.DisplayFor(model => eventModel.Product.Price)</td>
                        <td>@Html.DisplayFor(model => eventModel.Amount)</td>
                        <td>
                            <form method="post" asp-page-handler="Deletar">
                                <input type="hidden" name="id" value="@eventModel.ServiceProductID" />
                                <input type="submit" value="Deletar" class="btn btn-danger" />    
                            </form>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>Total: @string.Format("R${0:N2}", Model.Total)</p>
        <hr />
    </div>

    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Nome do Garçom</td>
                </tr>
            </thead>
            <tbody>
                @{
                    var First = true;
                }
                @foreach (var eventModel in Model.WaitersList)
                {
                    if (First)
                    {
                        First = false;
                        continue;
                    }
                    <tr>
                        <td>@Html.DisplayFor(model => eventModel.Name)</td>
                        <td>
                            <form method="post" asp-page-handler="Designar">
                                <input type="hidden" name="id" value="@eventModel.WaiterID" />
                                <input type="submit" class="btn btn-primary" value="Designar" />
                            </form>
                        <td />
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td colspan="3">Mesa</td>
                </tr>
            </thead>
            <tbody>

                @{
                    First = true;
                }
                @foreach (var eventModel in Model.TablesList)
                {
                    if (First == true)
                    {
                        First = false;
                        continue;
                    }
                    <tr>
                        <td>@Html.DisplayFor(model => eventModel.Name)</td>
                        <td>
                            <form method="post" asp-page-handler="Mesar">
                                <input type="hidden" name="id" value="@eventModel.TableID" />
                                <input type="submit" class="btn btn-primary" value="Designar" />
                            </form>
                        <td />
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="container">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Preço Unitário</td>
                    <td>Categoria</td>
                    <td>Quantidade</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventModel in Model.ProductsList!)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => eventModel.Name)</td>
                        <td>@Html.DisplayFor(model => eventModel.Price)</td>
                        <td>@Html.DisplayFor(model => eventModel.Category!.Name)</td>
                        <td>
                            <form method="post" asp-page-handler="Adicionar">
                                <input type="hidden" name="id" value="@eventModel.ProductID" />
                                <input type="number" name="amount" min="0" />
                                <input type="submit" class="btn btn-primary" value="Adicionar" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center">
            <form style="display: inline-block; vertical-align: top;" method="post" asp-page-handler="Cancelar">
                <input type="submit" value="Cancelar" class="btn btn-danger btn-md center-block" />
            </form>
            <form style="display: inline-block; vertical-align: top;" method="post" asp-page-handler="Salvar">
                <input type="submit" value="Salvar" class="btn btn-primary btn-md center-block" />
            </form>
            <div asp-validation-summary="ModelOnly" class="text-dange"></div>
            <hr />
        </div>
    </div>
</body>