@page
@model Aula03.pages.Services.Index
@{
}

<div class="container">
    <hr />
    <td><a asp-page="/Services/Create">Criar Atendimento</a></td>
    <hr />

    <body>
        <div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <td>Número do Atendimento</td>
                        <td>Garçom</td>
                        <td>Mesa</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var eventModel in Model.ServicesList)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => eventModel.ServiceID)</td>
                            <td>@Html.DisplayFor(model => eventModel.Waiter!.Name)</td>
                            <td>@Html.DisplayFor(model => eventModel.Table!.TableID)</td>
                            @{
                                if (eventModel.ServiceProducts.Count == 0)
                                {
                                    <td>R$0,00</td>
                                }
                                else
                                {
                                    double? sumOfPrices = eventModel.ServiceProducts.Sum(p => p.Product.Price);
                                    <td>@string.Format("R${0:N2}", sumOfPrices)</td>
                                }
                            }
                            <td>@Html.DisplayFor(model => eventModel.InitDate)</td>
                            <td>@Html.DisplayFor(model => eventModel.FinishDate)</td>

                            <td>
                                <a asp-page="./Delete" asp-route-id="@eventModel.ServiceID">Remover</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</div>
