@page
@model Aula03.pages.Tables.Index
@{
}


<head>
    <style>
        .btn-secondary {
          background-color: green;
          border-color: green;
        }
    </style>
</head>


<div class="container">
    <hr />
    <td><a asp-page="/Tables/Create">Criar Nova Mesa</a></td>
    <hr />

    <body>
        <div>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <td>Identificador</td>
                        <td>Estado da Mesa</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var First = true;
                    }
                    @foreach (var eventModel in Model.TablesList)
                    {
                        if (First == true)
                        {
                            First = false;
                            continue;
                        }

                        <tr>
                            <td>@Html.DisplayFor(model => eventModel.Name)</td>

                            @if (eventModel.Status == false)
                            {
                                <td>Livre</td>
                                <td>
                                    <form method="post" asp-page-handler="Reservar">
                                        <input type="hidden" name="id" value="@eventModel.TableID" />
                                        <input type="submit" value="Reservar" class="btn btn-primary" />
                                    </form>
                                </td>
                            }
                            else
                            {
                                <td>Reservada</td>
                                <td>
                                    <form method="post" asp-page-handler="Fechar">
                                        <input type="hidden" name="id" value="@eventModel.TableID" />
                                        <input type="submit" value="Fechar" class="btn btn-secondary" />
                                    </form>
                                </td>
                            }
                            <td>
                                <a asp-page="./Edit" asp-route-id="@eventModel.TableID">Editar</a>
                            </td>
                            <td>
                                <a asp-page="./Delete" asp-route-id="@eventModel.TableID">Remover</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</div>
