@page
@model Aula03.pages.Books.Index
@{
}
<head>
</head>
<div class="container">
    <div class="row">
        @foreach (var product in Model.BooksList)
        {
            <div class="col-md-4 mb-4 mr-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Author</p>
                        <p class="card-text">@product.Desc</p>
                        <p class="card-text">@product.PublicationYear</p>
                        <p class="card-text">@product.Price</p>
                        <a asp-page="./Details" asp-route-id="@product.BookID">Visualizar</a>
                        <a asp-page="./Details" asp-route-id="@product.BookID" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.BooksList[0].BookID)</td>
                    <td>@Html.DisplayNameFor(model => model.BooksList[0].Name)</td>
                    <td>@Html.DisplayNameFor(model => model.BooksList[0].Desc)</td>
                    <td>@Html.DisplayNameFor(model => model.BooksList[0].PublicationYear)</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventModel in Model.BooksList)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => eventModel.BookID)</td>
                        <td>@Html.DisplayFor(model => eventModel.Name)</td>
                        <td>@Html.DisplayFor(model => eventModel.Author)</td>
                        <td>@Html.DisplayFor(model => eventModel.PublicationYear)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>