@page "{id:int}"
@model Aula03.pages.Atendimentos.Delete
@{
}

<h1>Detalhes do Item para Remover</h1>

<div>
	<p><strong>Nome:</strong>@Model.Atendimento.AtendimentoID</p>
	<p><strong>Data:</strong>@Model.Atendimento!.Mesa!.MesaID</p>
	<p><strong>Data:</strong>@Model.Atendimento.InitDate</p>
	<p><strong>Data:</strong>@Model.Atendimento.FinishDate</p>
</div>


<table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Preço</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventModel in Model.Atendimento.Produtos)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => eventModel.Name)</td>
                        <td>@Html.DisplayFor(model => eventModel.Price)</td>
                    </tr>
                }
            </tbody>
</table>

<form method="post">
	<div class="group-form">
		<input type="submit" value="Deletar" class="btn btn-danger" />
		<a asp-page="/Atendimentos/Index" class="btn btn-primary">Voltar à Lista</a>
	</div>
</form>
